@page "/"
@using RockPaperScissors.Models
@using RockPaperScissors.Services
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject GameStateService gameState
@inject NameService nameService

<div class="d-grid h-100">
    <div>
        <div class="container-fluid d-flex align-items-center justify-content-center h-100 p-0">
            <div>
                <p class="fs-2 text-center">Opponent</p>
                <div class="opponentHand d-flex align-items-center justify-content-center bg-danger mw-25 mh-25 m-1 border border-dark rounded">
                    <span class="text-light">@OppoenentHandText</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex align-items-center justify-content-center h-100 p-0">
        <p class="fs-1">@($"{GameOutcome.ToString()}")</p>
    </div>
    <div class="container-fluid d-flex align-items-center justify-content-center h-100 p-0">
        <div>
            <p class="fs-2 text-center">Player</p>
            <div class="row">
                <HandButton ButtonText="@nameService.RockName" OnClickCallback="@PlayRock" />
                <HandButton ButtonText="@nameService.PaperName" OnClickCallback="@PlayPaper" />
                <HandButton ButtonText="@nameService.ScissorsName" OnClickCallback="@PlayScissors" />
            </div>
        </div>
    </div>
</div>


@code {

    GameModel Game { get; set; } = default!;
    Hand OpponentHand { get; set; }
    Outcome GameOutcome { get; set; }

    string OppoenentHandText => OpponentHand switch
    {
        Hand.Rock => nameService.RockName,
        Hand.Paper => nameService.PaperName,
        Hand.Scissors => nameService.ScissorsName,
        _ => OpponentHand.ToString()
    };

    void PlayRock() => PlayRound(Hand.Rock);
    void PlayPaper() => PlayRound(Hand.Paper);
    void PlayScissors() => PlayRound(Hand.Scissors);

    async void PlayRound(Hand playerHand)
    {
        OpponentHand = (Hand)new Random().Next(3);
        GameOutcome = await Game.PlayRound(playerHand, OpponentHand);
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Game = new GameModel(localStorage, gameState);
        gameState.OnChange.Add(StateHasChanged);
        nameService.OnChange.Add(StateHasChanged);
    }
}